body{
	background-image: url('../../assets/images/background.gif');	
}
#header {
	
	color: white;
	margin-left: 0;
	text-align: center;
	smargin-top: 50px;
	font-size: 100px;
	/*height: 100%;*/
	float: left;
	font-family: 'Bungee Inline', cursive;

}
button{
	background-image: url('../../assets/images/play.jpg');
	height: 92px;
	width: 280px;
}

img{
	float: left;
}
header p{
	font-size: 20px;
}
.imgDiv{
	float: left;
	margin-left: 0;
	
}
.main{
	/*background: black;*/
	/*width: 65%;*/
	float: right;
	margin-top: 20px;
	padding:5px;
}
div{
	margin:0 auto;
}
#content{
	margin: 0 auto;
	margin-left: 10px;
	font-size:20px;
	text-align: center;
	padding: 30px;
	border:solid 5px black;
	font-size: 30px;

}

#main-container{
font-family: 'Audiowide', cursive;	
	margin-left: 10px;
	/*text-align: center;*/
	font-size: 30px;
	padding: 20px;
	color: white;
}

li{
	display: inline-block;
	color:orange;
}